<div class="row">
	<div class="col-lg-12">
        <div class="content">
<repeat group="{{ @channels }}" value="{{ @achannel }}">
	<fieldset class='chan-{{ @achannel.slug }}'>
		<legend>
			<i class='fa fa-diamond'></i> {{ @achannel.name }}
			<div style="float:right"> <small> <i class='fa fa-users'></i> {{ @achannel.listeners }} listeners &nbsp; </small> </div>
		</legend>
		<p>{{ @achannel.description }}</p>
		<button class='btn btn-lg' type='button' onClick="location.href='/play/{{ @achannel.slug }}'"> <i class='fa fa-play'></i> &nbsp; Play {{ @achannel.name }} </button> <BR><BR>
	</fieldset>
</repeat>
        </div>
    </div>
</div>
