<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/ui/css/normalize.min.css">
        <link rel="stylesheet" href="/ui/css/bootstrap-tagsinput.css">
        <link rel="stylesheet" href="/ui/css/main.css">
	<link rel="stylesheet" href="/ui/css/player.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet/less" type="text/css" href="/ui/css/medesstyles.less" data-global-vars='{"modcolor":"{{ @color.modcolor }}", "hueangle":"{{ @hue }}","desaturation":"{{ @desaturation }}"}'>
        <link rel="stylesheet/less" type="text/css" href="/less/channels.less">
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	<include href="admin/bar.htm" />
        <div class="header-container">
        
            <header class="wrapper clearfix">
    
            	<A HREF="/"><div class="header-logo title"></div></A>
                <nav>
			<div class="channel-title sm-hidden xs-hidden chan-{{ @channelSlug }}"> {{ @channel }} <check if="{{ @ADMIN }}">Admin</check></div>
                    <ul>
                        <li><a href="/channels">Channels</a></li>
                        <li><a href="#">Donate</a></li>
                        <li><a href="#">Artists</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </header>

        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
		
		<check if="{{ @FULL }}">
			<true>
				<include href="{{ @content }}" />
			</true>
			<false>
				<article>
					<include href="{{ @content }}" />
				</article>
				<aside>
					<include href="{{ @sidebar }}" />
				</aside>
			</false>
		</check>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
		<include href="footer.htm" />
            </footer>
        </div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.6.1/less.min.js"></script>
	<script src="/ui/js/bootstrap-tagsinput.js"></script>
	<script src="/ui/js/moment.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-19546749-21','auto');ga('send','pageview');
        </script>
    </body>
</html>
