<div class="header center xs-show">
	<p>{{ @channel }}</p>
</div>
<div class="row">
	<div class="col-lg-12">
        <div class="content" style="color:#fff;">
		Welcome to the radio station
        </div>
    </div>
</div>
