<div class="header center xs-show">
	<p>{{ @channel }}</p>
</div>
<div class="row">
	<div class="col-lg-12">
        <div class="content" style="color:#fff;">
            {{ @_welcome}}! {{ @_click }} to {{ @_listen }} to {{ @_radio }} to {{ @_sign_up }}
        </div>
    </div>
</div>
