@charset "utf-8";
/* CSS Document */

@basecolor: desaturate( spin(@modcolor, @hueangle), @desaturation);
@darkerbase: mix(#000,@basecolor,15%);
@secondary: spin(@basecolor,-(360 / 3));
@tertiary: spin(@basecolor,(360 / 3));
@complimentary: spin(@basecolor,180);

.btn:hover {
	color:white;
}

/* ===================
   Theme
   =================== */
.modcolor-bg {
	background-color:@modcolor;
}
.modcolor {
	color:@modcolor;
}
.mybase
{
	background-color:@basecolor;
}
.channel-title {
	color:white;
	font-size:65px;
	line-height:80%;
	font-weight:bold;
	position:absolute;
	top:80px;
	text-align:center;
}
.header-logo
{
	margin:0 auto;	
	background-image:url(../images/prismavlogosmall3.png);
	background-position:left ;
	background-size: 188px 200px;
	width:188px;
	height:200px;
	@huedeg: ~"@{hueangle}deg";
	-webkit-filter: hue-rotate(@huedeg) grayscale(@desaturation);
	filter: hue-rotate(@huedeg) grayscale(@desaturation);
}
.header-container {border-bottom: 20px solid @darkerbase;} 
.footer-container, .main aside {border-top: 20px solid @darkerbase;}

.header-container, .footer-container, .main aside 
{
	background-color: @basecolor;
	background-image:url(../images/asanoha.png);
	background-blend-mode:multiply;
}
/* ==============
    MOBILE: Menu
   ============== */
nav ul li a{border-color: @darkerbase;}
nav a {background: @darkerbase;}



.accent1
{
	border-radius:10px;
	background-color:@complimentary;
	padding:10px;
	margin-bottom:10px;
}
