/* Audio Player CSS */

.player {
	width:50px;
	height:50px;
	background-position:center;
	background-size:100% 100%;
	background-repeat: no-repeat;
}

.player.play {
	background-image:url(/ui/images/play.png);
}
.player.pause {
	background-image:url(/ui/images/pause.png);
}
.player.stop {
	background-image:url(/ui/images/stop.png);
}
