	<check if="{{ @USER }}">
		<div class='header-admin'>
			<div class='container'>
				<div class='navbar-header'>
					<div class='navbar-brand text-center'>
						  <A href="/admin"> <B> {{ @USER.display_name }} </B> </A> <small> <A HREF="/logout"><i class='fa fa-sign-out'></i> </A> </small>
					</div>
				</div>
				<check if="{{ @channel }}">
					<A class='btn btn-lg btn-inverse' HREF="/admin/{{ @chan.slug }}/samples"> <i class='fa fa-file-sound-o'></i> {{ @channel }} Samples </A> 
					<A class='btn btn-lg btn-inverse' HREF="/admin/{{ @chan.slug }}/songs"> <i class='fa fa-music'></i> {{ @channel }} Songs </A> 
				</check>
				<div class="pull-right">
					<A HREF="/admin/notifications"><span class='notify'> {{ @NOTIFICATIONS }} <i class='fa fa-globe'></i> </span></A> / 
					<B><A HREF="/admin/samples/que"></B> {{ @ques.samples }} <i class='fa fa-file-sound-o'></i></A> <A HREF="/admin/songs/que"> / {{ @ques.songs }} <i class='fa fa-music'></i></A> &nbsp;
				</div>
			</div>
		</div>
	</check>
