<H1>Admin</H1>


<H2>Samples</H2>
<UL>
<repeat group="{{ @channels }}" value="{{ @channel }}">
	<LI><A class='chan-{{ @channel.slug }}' HREF="/admin/{{ @channel.slug }}/samples"> {{ @channel.name }} Samples</A></LI>
</repeat>
</UL>

<H2>Songs</H2>
<UL>
<repeat group="{{ @channels }}" value="{{ @channel }}">
	<LI><A class='chan-{{ @channel.slug }}' HREF="/admin/{{ @channel.slug }}/songs"> {{ @channel.name }} Songs</A></LI>
</repeat>
</UL>
