<repeat group="{{ @notifyList }}" value="{{ @notification }}" key="{{ @notificationKey }}">
	<fieldset class='well'>
	<strong> {{ @notification->title }} </strong>
	<check if="@notification->created > @lastView"> 
		<true>
			<span class='label label-danger pull-right' id="age_{{@notificationKey}}"> (calculating) </span> 
		</true>
		<false>
			<span class='label label-default pull-right' id="age_{{@notificationKey}}"> (calculating) </span> 
		</false>
	</check> 
	 <p>{{ @USER.display_name }} - <i>{{ date('r',@notification->created) }} </i></p> 
	<P>{{ @notification->body | raw}} </P>
	</fieldset>
	<script>
		setTimeout( function() {
			document.getElementById('age_{{@notificationKey}}').innerHTML = moment("{{@notification->created}}","X").fromNow();
		}, 1000);
	</script>
</repeat>
