<H1>{{ @channel }} Samples</H1>


<check if="{{ @error }}">
	<div class="alert alert-danger">
		<i class='fa fa-warning'></i> &nbsp; 
		{{ @error }}
	</div>
</check>
<check if="{{ @success }}">
	<div class="alert alert-success">
		<i class='fa fa-check-circle'></i> &nbsp; 
		{{ @success }}
	</div>
</check>

<form method="POST" name="sampleForm" id="sampleForm" action="?" enctype="multipart/form-data">
<input type="hidden" name="sample_id" value="">
<div class="modal fade" id="sampleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content chan-{{ @chan.slug }}">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Sample Details</h4>
      </div>
      <div class="modal-body">

	<input type="hidden" name="<?= ini_get('session.upload_progress.name'); ?>" value="samples">
		<div class="row">
			<div class="col-xs-12">
				<input class="form-control form-control-lg" type="text" name="name" placeholder="Name"> <BR>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<select class="form-control" name="type">
					<option value="sound">Sound</option>
					<option value="loop">Loop</option>
					<option value="rhythm">Rhythm</option>
					<option value="tonalSound">Tonal Sound</option>
					<option value="tonalLoop">Tonal Loop</option>
					<option value="tonalRhythm">Tonal Rhythm</option>
					<option value="base">Base</option>
				</select>
				<i class='fa fa-info-o'></i>
			</div>
			<div class="col-xs-6">
				<input style="width:100%" class="form-control" data-role="tagsinput" name="tags" type="text" value="" placeholder="Tags">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<textarea class="form-control" name="description" rows="3" placeholder="Description"></textarea> <BR>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<input class="form-control" type="text" name="uploadURL" id="uploadURL" placeholder="URL To Sound">
			</div>
			<div class="col-xs-6">
				<input class="form-control form-control-file" type="file" name="upload" id="upload" placeholder="File to Upload">
			</div>
		</div>
		<div class="row">
		<div class="col-xs-12">
			<div id="bar_blank" style="display:none;width:100%;">
				<div class="progress" style="padding:5px">
					<div id="bar_upload" class="progress-bar progress-bar-striped progress-bar-default"></div>
				</div>
			</div>
			<div id="status"></div>
		</div>
		</div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg chan-{{ @chan.slug }}" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-lg chan-{{ @chan.slug }}" name="cmd">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>


<div>

<button type="button" class="btn btn-block btn-lg chan-{{ @chan.slug }}" data-toggle="modal" data-target="#sampleModal">
	<i class='fa fa-plus'></i> Add Sample
</button>

<check if="{{ count( @samples ) > 0 }}">
<div class="table-responsive">
	<table id="dataTable" class="table" style="width:100%">
		<tr>
			<th> Type </th>
			<th> Title </th>
			<th> Preview </th>
			<th> BPM </th>
			<th class='hidden-xs'> Key </th>
			<th class='hidden-xs hidden-sm'> Author </th>
			<th class='hidden-xs hidden-sm'> Length </th>
			<th> Actions </th>
		</tr>
		<repeat group="{{ @samples }}" value="{{ @asample }}">
		<A name="sample_{{ @asample.id }}"></A>
		<tr>
			<td style='text-align:center'> <span class='hidden-xs hidden-sm'> <IMG height=50 width=50 SRC="{{ @asample.png }}"><BR></span> {{ strtoupper( @asample.type ) }} </td>
			<td> {{ @asample.title }} </td>
			<td>
				<check if="{{ stristr( @asample.type ,'loop') }}">
					<true>
						<audio id="audio_{{ @asample.id }}" loop>
					</true>
					<false>
						<audio id="audio_{{ @asample.id }}">
					</false>
				</check> 
					<source controls="play" type="audio/wav" src="{{ @asample.url }}">
				</audio>
				<div class="player play" id="player_{{ @asample.id }}" data-target="audio_{{ @asample.id }}"> </div>
			</td>

			<td> {{ @asample.musicBPM }} </td>
			<td class='hidden-xs'> {{ @asample.musicKey }} </td>
			<td class='hidden-xs hidden-sm'> {{ @FILTER.userId( @asample.user_id ) }} </td>
			<td class='hidden-xs hidden-sm'> {{ str_pad(floor(@asample.length / 3600000 ),2,'0', STR_PAD_LEFT) }}:{{ str_pad(floor(@asample.length / 60000),2,'0', STR_PAD_LEFT) }}:{{ str_pad(floor((@asample.length%60000)/1000),2,'0', STR_PAD_LEFT) }}.{{ str_pad(floor( @asample.length % 1000),2,'0', STR_PAD_LEFT) }} </td>
			<td> 
				<button class='btn btn-sm chan-{{ @chan.slug }}' onClick="loadObject('#sampleForm','/admin/{{ @chan.slug }}/samples?load={{ @asample.id }}',{'name':'title','sample_id':'id','uploadURL':'url'});" data-toggle="modal" data-target="#sampleModal"><i class='fa fa-pencil-square-o'></i></button>
				<button class='btn btn-sm chan-{{ @chan.slug }}' onClick="if (confirm('Are you sure you want to delete this samples?')) return location.href='/admin/{{ @chan.slug }}/samples?rm={{ @asample.id }}';"><i class='fa fa-trash-o'></i></button>
			</td>
		</tr>
		</repeat>
	</table>
</div>
</check>
<style>
	.player {
		-webkit-filter: hue-rotate({{ @hue }}deg); 
		filter: hue-rotate({{ @hue }}deg);
	}
</style>
<script type="text/javascript">

	function loadObject(form,url,mapping) {
		var fobj = document.querySelector(form);
		var xobj = new XMLHttpRequest();
		xobj.overrideMimeType("application/json");
		xobj.open('GET', url, true);
		xobj.onreadystatechange = function() {
			if (xobj.readyState == 4 && xobj.status == "200") {
				var dat = JSON.parse(xobj.responseText);
				var elements = document.getElementById("sampleForm").elements;
				for (var i = 0, element; element = elements[i++];) {
					var mname = element.name;
					if (mapping[element.name]) mname = mapping[element.name];
					if (dat[mname] != undefined) {
						element.value = dat[mname];
					}
				}
			}
		}
		xobj.send(null);
			
	}

	function toggleBarVisibility() {
		var e = document.getElementById("bar_blank");
		e.style.display = (e.style.display == "block") ? "none" : "block";
	}
	
	function createRequestObject() {
		var http;
		if (navigator.appName == "Microsoft Internet Explorer") {
			http = new ActiveXObject("Microsoft.XMLHTTP");
		} else {
			http = new XMLHttpRequest();
		}
		return http;
	}

	function sendRequest() {
		var http = createRequestObject();
		http.open("GET", "/uploadProgress/samples");
		http.onreadystatechange = function () { handleResponse(http); };
		http.send(null);
	}

	function handleResponse(http) {
		var response;
		if (http.readyState == 4) {
			response = http.responseText;
			console.log(response);
			document.getElementById("bar_upload").style.width = response + "%";
			document.getElementById("status").innerHTML = response + "%";
			response = 10;
			if (response < 100) {
				setTimeout("sendRequest()", 1000);
			} else {
				toggleBarVisibility();
				document.getElementById("status").innerHTML = "Done.";
			}
		}
	}

	function startUpload() {
		toggleBarVisibility();
		setTimeout("sendRequest()", 1000);
	}

	(function () {
		document.getElementById("sampleForm").onsubmit = startUpload;
	})();


	(function() {
		var players = document.querySelectorAll('.player');
		var clickCalls = [];
		var dblclickCalls = [];
		var clickCall = function(i) { 
			return function() {
				var targetId = players[i].getAttribute("data-target");			
				var target = document.querySelector("#"+targetId);
				target.onended = function() {
					players[i].className = "player play";
					target.stop();
				}
				if (target.paused) {
					target.play();
					players[i].className = "player pause";
				} else {
					target.pause();
					players[i].className = "player play";
				}
			}
		}
		var dblclickCall = function(i) {
			return function() {
				var targetId = players[i].getAttribute("data-target");			
				var target = document.querySelector("#"+targetId);
				target.pause();
				target.currentTime = 0;
				players[i].className = "player stop";
				setTimeout( function() { players[i].className = 'player play'; }, 500);
			}
		}
		for (var i = 0, len = players.length; i < len; i++) {
			clickCalls[i] = clickCall(i);
			dblclickCalls[i] = dblclickCall(i);
		}
		for (var i = 0, len = players.length; i < len; i++) {
			players[i].onclick = clickCalls[i];
			players[i].ondblclick = dblclickCalls[i];
		}
	})();

</script>

