<H1>Samples Que</H1>
<ul>
<repeat group="{{ @que }}" value="{{ @item }}">
	<div class='col-xs-12'>
	<fieldset class="well">
		<strong> {{substr(@item.id,0,10)}} </strong>
		<span id="age_{{@item.id}}" class='pull-right label label-default'> (calculating)  </span>
		<P> Created : {{date('r',@item.created)}}</P>
		<P> Status : {{@item.status}}</P>
		<P> Channel : {{@item.channel}}</P>
		<P> Source : <A HREF="{{@item.url}}" TARGET="_BLANK">{{@item.url}}</A> </P>		
		<P> Author : <B>{{@item.authorData->display_name}}</B> (#{{@item.authorData->id}}) </P>
		<check if="{{@item.authorData->email}}=={{@USER.email}}">
			<button onClick="location.href='?rm={{@item.id}}';" class='pull-right btn-danger'> Remove </button>
		</check>
	</fieldset>
	<script>
		setTimeout(function() {
			document.getElementById('age_{{@item.id}}').innerHTML = moment("{{@item.created}}","X").fromNow();
		},
		1000);
	</script>
	</div>
</repeat>
<check if="{{ count( @que ) == 0 }}">
	<I> The que is currently empty </I>
</check>
</ul>
