<H1>{{ @channel }} Song - {{ @song.title }}</H1>
<check if="{{ @error }}">
	<div class="alert alert-danger">
		<i class='fa fa-warning'></i> &nbsp; 
		{{ @error }}
	</div>
</check>
<check if="{{ @success }}">
	<div class="alert alert-success">
		<i class='fa fa-check-circle'></i> &nbsp; 
		{{ @success }}
	</div>
</check>

<form method="POST" name="songForm" id="songForm" action="?" enctype="multipart/form-data">
	<input type="hidden" name="song_id" value="{{ @song.id }}">

</form>

<style>
	.player {
		-webkit-filter: hue-rotate({{ @hue }}deg); 
		filter: hue-rotate({{ @hue }}deg);
	}
</style>
