<H1>{{ @channel }} Songs</H1>


<check if="{{ @error }}">
	<div class="alert alert-danger">
		<i class='fa fa-warning'></i> &nbsp; 
		{{ @error }}
	</div>
</check>
<check if="{{ @success }}">
	<div class="alert alert-success">
		<i class='fa fa-check-circle'></i> &nbsp; 
		{{ @success }}
	</div>
</check>

<form method="POST" name="songForm" id="songForm" action="?" enctype="multipart/form-data">
<input type="hidden" name="song_id" value="">
<div class="modal fade" id="songModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content chan-{{ @chan.slug }}">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Song Details</h4>
      </div>
      <div class="modal-body">
	<input type="hidden" name="<?= ini_get('session.upload_progress.name'); ?>" value="songs">
		<div class="row">
			<div class='col-xs-12'>
				<check if="{{ count(@bases) }}">
					<true>
						<select name="base_id" style='background-color:#444'>
							<repeat group="{{ @bases }}" value="{{ @base }}">	
								<option value="{{ @base.id }}"> {{ @base.title }} ( {{ @base.musicKey }} / {{ @base.musicBPM }} ) </option>
							</repeat>
						</select>
					</true>
					<false>
						<A HREF="/admin/{{ @chan.slug }}/samples"> Add a Base Sample </A> 
					</false>
				</check>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<input class="form-control form-control-lg" type="text" name="name" placeholder="Name"> <BR>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<textarea class="form-control" name="description" rows="3" placeholder="Description"></textarea> <BR>
			</div>
		</div>
		<div id="status"></div>
	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg chan-{{ @chan.slug }}" data-dismiss="modal"> <i class='fa fa-remove'></i> Cancel</button>
        <button type="submit" class="btn btn-lg chan-{{ @chan.slug }}" name="cmd"> <i class='fa fa-plus-square'></i> Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>


<div>

<button type="button" class="btn btn-block btn-lg chan-{{ @chan.slug }}" data-toggle="modal" data-target="#songModal">
	<i class='fa fa-plus'></i> Add Song
</button>

<check if="{{ count( @songs ) > 0 }}">
<div>
	<table id="dataTable" class="" style="width:100%">
		<tr>
			<th> Title </th>
			<th> Preview </th>
			<th> Description </th>
			<th> BPM </th>
			<th> Key </th>
			<th> Author </th>
			<th> Length </th>
			<th> Actions </th>
		</tr>
		<repeat group="{{ @songs }}" value="{{ @asong }}">
		<A name="song_{{ @asong.id }}"></A>
		<tr>

			<td> {{ @asong.title }} </td>
			<td> PLAY / STOP  </td>
			<td> {{ @asong.description }} </td>
			<td> {{ @asong.musicBPM }}</td>
			<td> {{ @asong.musicKey }}</td>
			<td> {{ @asong.user_id }}</td>
			<td> {{ @asong.length }}</td>
			<check if="{{ @asong.user_id == @USER.id}}">
				<true>
			<td> 
				<button class='btn btn-sm chan-{{ @chan.slug }}' onClick="return location.href='/admin/{{ @chan.slug }}/editSong/{{@asong.id}}';"><i class='fa fa-pencil-square-o'></i></button>
				<button class='btn btn-sm chan-{{ @chan.slug }}' onClick="if (confirm('Are you sure you want to delete this song?')) return location.href='/admin/{{ @chan.slug }}/songs?rm={{ @asong.id }}';"><i class='fa fa-trash-o'></i></button>
			</td>
				</true>
				<false>
			<td></td>
				</false>
			</check>
		</tr>
		</repeat>
	</table>
</div>
</check>
<style>
	.player {
		-webkit-filter: hue-rotate({{ @hue }}deg); 
		filter: hue-rotate({{ @hue }}deg);
	}
</style>
<script type="text/javascript">

	function loadObject(form,url,mapping) {
		var fobj = document.querySelector(form);
		var xobj = new XMLHttpRequest();
		xobj.overrideMimeType("application/json");
		xobj.open('GET', url, true);
		xobj.onreadystatechange = function() {
			if (xobj.readyState == 4 && xobj.status == "200") {
				var dat = JSON.parse(xobj.responseText);
				var elements = document.getElementById("songForm").elements;
				for (var i = 0, element; element = elements[i++];) {
					var mname = element.name;
					if (mapping[element.name]) mname = mapping[element.name];
					if (dat[mname] != undefined) {
						element.value = dat[mname];
					}
				}
			}
		}
		xobj.send(null);
			
	}

	function toggleBarVisibility() {
		var e = document.getElementById("bar_blank");
		e.style.display = (e.style.display == "block") ? "none" : "block";
	}
	
	function createRequestObject() {
		var http;
		if (navigator.appName == "Microsoft Internet Explorer") {
			http = new ActiveXObject("Microsoft.XMLHTTP");
		} else {
			http = new XMLHttpRequest();
		}
		return http;
	}

	function sendRequest() {
		var http = createRequestObject();
		http.open("GET", "/uploadProgress/songs");
		http.onreadystatechange = function () { handleResponse(http); };
		http.send(null);
	}

	function handleResponse(http) {
		var response;
		if (http.readyState == 4) {
			response = http.responseText;
			console.log(response);
			document.getElementById("bar_upload").style.width = response + "%";
			document.getElementById("status").innerHTML = response + "%";
			response = 10;
			if (response < 100) {
				setTimeout("sendRequest()", 1000);
			} else {
				toggleBarVisibility();
				document.getElementById("status").innerHTML = "Done.";
			}
		}
	}

	function startUpload() {
		toggleBarVisibility();
		setTimeout("sendRequest()", 1000);
	}

	(function () {
		document.getElementById("songForm").onsubmit = startUpload;
	})();


	(function() {
		var players = document.querySelectorAll('.player');
		var clickCalls = [];
		var dblclickCalls = [];
		var clickCall = function(i) { 
			return function() {
				var targetId = players[i].getAttribute("data-target");			
				var target = document.querySelector("#"+targetId);
				target.onended = function() {
					players[i].className = "player play";
					target.stop();
				}
				if (target.paused) {
					target.play();
					players[i].className = "player pause";
				} else {
					target.pause();
					players[i].className = "player play";
				}
			}
		}
		var dblclickCall = function(i) {
			return function() {
				var targetId = players[i].getAttribute("data-target");			
				var target = document.querySelector("#"+targetId);
				target.pause();
				target.currentTime = 0;
				players[i].className = "player stop";
				setTimeout( function() { players[i].className = 'player play'; }, 500);
			}
		}
		for (var i = 0, len = players.length; i < len; i++) {
			clickCalls[i] = clickCall(i);
			dblclickCalls[i] = dblclickCall(i);
		}
		for (var i = 0, len = players.length; i < len; i++) {
			players[i].onclick = clickCalls[i];
			players[i].ondblclick = dblclickCalls[i];
		}
	})();

</script>

